.wrapper
  .header
    .header__title
      .header__title--icon
        %i.fa.fa-plane
      .header__title--name
        Sightseeing
    .header__text
      観光スポット探しアプリ
  .main
    .main-box
      .area
        .area__title
          エリアから探す
        .area__box
          .area__box--left
            .area-title
              .area-icon
                %i.fa.fa-search
              .area-group
                北海道・東北
            %ul.area-list
              %li
                = link_to "#" do
                  北海道
              %li
                = link_to "#" do
                  青森
              %li
                = link_to "#" do
                  秋田
              %li
                = link_to "#" do
                  岩手
              %li
                = link_to "#" do
                  山形
              %li
                = link_to "#" do
                  宮城
              %li
                = link_to "#" do
                  福島
            .area-title
              .area-icon
                %i.fa.fa-search
              .area-group
                中部
            %ul.area-list
              %li
                = link_to "#" do
                  愛知
              %li
                = link_to "#" do
                  岐阜
              %li
                = link_to "#" do
                  静岡
              %li
                = link_to "#" do
                  三重
              %li
                = link_to "#" do
                  新潟
              %li
                = link_to "#" do
                  山梨
              %li
                = link_to "#" do
                  長野
              %li
                = link_to "#" do
                  石川
              %li
                = link_to "#" do
                  富山
              %li
                = link_to "#" do
                  福井
            .area-title
              .area-icon
                %i.fa.fa-search
              .area-group
                中国・四国
            %ul.area-list
              %li
                = link_to "#" do
                  岡山
              %li
                = link_to "#" do
                  広島
              %li
                = link_to "#" do
                  鳥取
              %li
                = link_to "#" do
                  島根
              %li
                = link_to "#" do
                  山口
              %li
                = link_to "#" do
                  香川
              %li
                = link_to "#" do
                  徳島
              %li
                = link_to "#" do
                  愛媛
              %li
                = link_to "#" do
                  高知
          .area__box--right
            .area-title
              .area-icon
                %i.fa.fa-search
              .area-group
                関東
            %ul.area-list
              %li
                = link_to "#" do
                  東京
              %li
                = link_to "#" do
                  神奈川
              %li
                = link_to "#" do
                  埼玉
              %li
                = link_to "#" do
                  千葉
              %li
                = link_to "#" do
                  栃木
              %li
                = link_to "#" do
                  茨城
              %li
                = link_to "#" do
                  群馬
            .area-title
              .area-icon
                %i.fa.fa-search
              .area-group
                関西
            %ul.area-list
              %li
                = link_to "#" do
                  大阪
              %li
                = link_to "#" do
                  兵庫
              %li
                = link_to "#" do
                  京都
              %li
                = link_to "#" do
                  滋賀
              %li
                = link_to "#" do
                  奈良
              %li
                = link_to "#" do
                  和歌山
            .area-title
              .area-icon
                %i.fa.fa-search
              .area-group
                九州・沖縄
            %ul.area-list
              %li
                = link_to "#" do
                  福岡
              %li
                = link_to "#" do
                  佐賀
              %li
                = link_to "#" do
                  長崎
              %li
                = link_to "#" do
                  熊本
              %li
                = link_to "#" do
                  大分
              %li
                = link_to "#" do
                  宮崎
              %li
                = link_to "#" do
                  鹿児島
              %li
                = link_to "#" do
                  沖縄
      .map
        =image_tag'map-japan-deform-prefecture-02.png', size: "600x500", class: "img"
    .main-box__new
      .new-title
        新着スポット
      .new-contents
    .main-box__form
      .post
        .post__title
          おすすめスポットを投稿
        .post__icon
          %i.fa.fa-hand-point-right
      .icon-box
        = link_to "#",class: 'pen-icon' do
          %i.fa.fa-pencil-alt
  .footer
    .footer__log
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'