.wrapper
  = render "more/header"
  .main
    .main__top
      = image_tag "MIZ19819003_TP_V.jpg",width: "100%",height: "360",class: ".main__top__img"
      .main__top__title
        .main__top__title__box
          .main__top__title__box--icon
            %i.fa.fa-plane
          .main__top__title__box--name
            Sightseeing
        .main__top__title__text
          ãŠã™ã™ã‚ã®è¦³å…‰ã‚¹ãƒãƒƒãƒˆã‚’ã€è¦‹ã¤ã‘ã‚ˆã†ã€‚
    .main-box
      .area
        .area__title
          .area__title__icon
            %i.fa.fa-search
          .area__title__text
            ã‚¨ãƒªã‚¢ã‹ã‚‰æŽ¢ã™
        .area__place
          .area__place__box
            .area__place__box__left
              .area-group
                .area-title
                  åŒ—æµ·é“ãƒ»æ±åŒ—
                %ul.area-list
                  %li
                    = link_to prefecture_path(1) do
                      åŒ—æµ·é“
                  %li
                    = link_to prefecture_path(2) do
                      é’æ£®
                  %li
                    = link_to prefecture_path(5) do
                      ç§‹ç”°
                  %li
                    = link_to prefecture_path(3) do
                      å²©æ‰‹
                  %li
                    = link_to prefecture_path(6) do
                      å±±å½¢
                  %li
                    = link_to prefecture_path(4) do
                      å®®åŸŽ
                  %li
                    = link_to prefecture_path(7) do
                      ç¦å³¶
              .area-group
                .area-title
                  ä¸­éƒ¨
                %ul.area-list
                  %li
                    = link_to prefecture_path(23) do
                      æ„›çŸ¥
                  %li
                    = link_to prefecture_path(21) do
                      å²é˜œ
                  %li
                    = link_to prefecture_path(22) do
                      é™å²¡
                  %li
                    = link_to prefecture_path(24) do
                      ä¸‰é‡
                  %li
                    = link_to prefecture_path(15) do
                      æ–°æ½Ÿ
                  %li
                    = link_to prefecture_path(19) do
                      å±±æ¢¨
                  %li
                    = link_to prefecture_path(20) do
                      é•·é‡Ž
                  %li
                    = link_to prefecture_path(17) do
                      çŸ³å·
                  %li
                    = link_to prefecture_path(16) do
                      å¯Œå±±
                  %li
                    = link_to prefecture_path(18) do
                      ç¦äº•
              .area-group
                .area-title
                  ä¸­å›½ãƒ»å››å›½
                %ul.area-list
                  %li
                    = link_to prefecture_path(33) do
                      å²¡å±±
                  %li
                    = link_to prefecture_path(34) do
                      åºƒå³¶
                  %li
                    = link_to prefecture_path(31) do
                      é³¥å–
                  %li
                    = link_to prefecture_path(32) do
                      å³¶æ ¹
                  %li
                    = link_to prefecture_path(35) do
                      å±±å£
                  %li
                    = link_to prefecture_path(37) do
                      é¦™å·
                  %li
                    = link_to prefecture_path(36) do
                      å¾³å³¶
                  %li
                    = link_to prefecture_path(38) do
                      æ„›åª›
                  %li
                    = link_to prefecture_path(39) do
                      é«˜çŸ¥
            .area__place__box__right
              .area-group
                .area-title
                  é–¢æ±
                %ul.area-list
                  %li
                    = link_to prefecture_path(13) do
                      æ±äº¬
                  %li
                    = link_to prefecture_path(14) do
                      ç¥žå¥ˆå·
                  %li
                    = link_to prefecture_path(11) do
                      åŸ¼çŽ‰
                  %li
                    = link_to prefecture_path(12) do
                      åƒè‘‰
                  %li
                    = link_to prefecture_path(9) do
                      æ ƒæœ¨
                  %li
                    = link_to prefecture_path(8) do
                      èŒ¨åŸŽ
                  %li
                    = link_to prefecture_path(10) do
                      ç¾¤é¦¬
              .area-group
                .area-title
                  é–¢è¥¿
                %ul.area-list
                  %li
                    = link_to prefecture_path(27) do
                      å¤§é˜ª
                  %li
                    = link_to prefecture_path(28) do
                      å…µåº«
                  %li
                    = link_to prefecture_path(26) do
                      äº¬éƒ½
                  %li
                    = link_to prefecture_path(25) do
                      æ»‹è³€
                  %li
                    = link_to prefecture_path(29) do
                      å¥ˆè‰¯
                  %li
                    = link_to prefecture_path(30) do
                      å’Œæ­Œå±±
              .area-group
                .area-title
                  ä¹å·žãƒ»æ²–ç¸„
                %ul.area-list
                  %li
                    = link_to prefecture_path(40) do
                      ç¦å²¡
                  %li
                    = link_to prefecture_path(41) do
                      ä½è³€
                  %li
                    = link_to prefecture_path(42) do
                      é•·å´Ž
                  %li
                    = link_to prefecture_path(43) do
                      ç†Šæœ¬
                  %li
                    = link_to prefecture_path(44) do
                      å¤§åˆ†
                  %li
                    = link_to prefecture_path(45) do
                      å®®å´Ž
                  %li
                    = link_to prefecture_path(46) do
                      é¹¿å…å³¶
                  %li
                    = link_to prefecture_path(47) do
                      æ²–ç¸„
    .main-box__news
      .main-box__news__title
        .main-box__news__title__1
          news
        .main-box__news__title__2
          ã‚¹ãƒãƒƒãƒˆæŠ•ç¨¿æ•°ãŒ#{@num}ä»¶ã«ãªã‚Šã¾ã—ãŸðŸŽ‰
    .main-box__new
      .main-box__new__title
        %span.main-box__new__title__tagï¼ƒ
        .main-box__new__title__text
          æ–°ç€
      .new-contents
        .new-contents__box
          - @spots.each do |spot|
            .spot-box
              = link_to spot_path(spot.id),data: {"turbolinks" => false} do
                = image_tag spot.images.first.src.url,size:"220x180",class: "spot-box__img"
                .spot-box__text
                  .spot-box__text--name
                    = spot.name
                  .spot-box__text__box
                    .spot-box__text__box--area
                      - if spot.prefecture_id == 1
                        åŒ—æµ·é“
                      - elsif spot.prefecture_id == 2
                        é’æ£®çœŒ
                      - elsif spot.prefecture_id == 3
                        å²©æ‰‹çœŒ
                      - elsif spot.prefecture_id == 4
                        å®®åŸŽçœŒ
                      - elsif spot.prefecture_id == 5
                        ç§‹ç”°çœŒ
                      - elsif spot.prefecture_id == 6
                        å±±å½¢çœŒ
                      - elsif spot.prefecture_id == 7
                        ç¦å³¶çœŒ
                      - elsif spot.prefecture_id == 8
                        èŒ¨åŸŽçœŒ
                      - elsif spot.prefecture_id == 9
                        æ ƒæœ¨çœŒ
                      - elsif spot.prefecture_id == 10
                        ç¾¤é¦¬çœŒ
                      - elsif spot.prefecture_id == 11
                        åŸ¼çŽ‰çœŒ
                      - elsif spot.prefecture_id == 12
                        åƒè‘‰çœŒ
                      - elsif spot.prefecture_id == 13
                        æ±äº¬éƒ½
                      - elsif spot.prefecture_id == 14
                        ç¥žå¥ˆå·çœŒ
                      - elsif spot.prefecture_id == 15
                        æ–°æ½ŸçœŒ
                      - elsif spot.prefecture_id == 16
                        å¯Œå±±çœŒ
                      - elsif spot.prefecture_id == 17
                        çŸ³å·çœŒ
                      - elsif spot.prefecture_id == 18
                        ç¦äº•çœŒ
                      - elsif spot.prefecture_id == 19
                        å±±æ¢¨çœŒ
                      - elsif spot.prefecture_id == 20
                        é•·é‡ŽçœŒ
                      - elsif spot.prefecture_id == 21
                        å²é˜œçœŒ
                      - elsif spot.prefecture_id == 22
                        é™å²¡çœŒ
                      - elsif spot.prefecture_id == 23
                        æ„›çŸ¥çœŒ
                      - elsif spot.prefecture_id == 24
                        ä¸‰é‡çœŒ
                      - elsif spot.prefecture_id == 25
                        æ»‹è³€çœŒ
                      - elsif spot.prefecture_id == 26
                        äº¬éƒ½åºœ
                      - elsif spot.prefecture_id == 27
                        å¤§é˜ªåºœ
                      - elsif spot.prefecture_id == 28
                        å…µåº«çœŒ
                      - elsif spot.prefecture_id == 29
                        å¥ˆè‰¯çœŒ
                      - elsif spot.prefecture_id == 30
                        å’Œæ­Œå±±çœŒ
                      - elsif spot.prefecture_id == 31
                        é³¥å–çœŒ
                      - elsif spot.prefecture_id == 32
                        å³¶æ ¹çœŒ
                      - elsif spot.prefecture_id == 33
                        å²¡å±±çœŒ
                      - elsif spot.prefecture_id == 34
                        åºƒå³¶çœŒ
                      - elsif spot.prefecture_id == 35
                        å±±å£çœŒ
                      - elsif spot.prefecture_id == 36
                        å¾³å³¶çœŒ
                      - elsif spot.prefecture_id == 37
                        é¦™å·çœŒ
                      - elsif spot.prefecture_id == 38
                        æ„›åª›çœŒ
                      - elsif spot.prefecture_id == 39
                        é«˜çŸ¥çœŒ
                      - elsif spot.prefecture_id == 40
                        ç¦å²¡çœŒ
                      - elsif spot.prefecture_id == 41
                        ä½è³€çœŒ
                      - elsif spot.prefecture_id == 42
                        é•·å´ŽçœŒ
                      - elsif spot.prefecture_id == 43
                        ç†Šæœ¬çœŒ
                      - elsif spot.prefecture_id == 44
                        å¤§åˆ†çœŒ
                      - elsif spot.prefecture_id == 45
                        å®®å´ŽçœŒ
                      - elsif spot.prefecture_id == 46
                        é¹¿å…å³¶çœŒ
                      - elsif spot.prefecture_id == 47
                        æ²–ç¸„çœŒ
                    .spot-box__text__box--icon
                      .spot-box__text__box--icon__comment
                        .comment
                          %i.fa.fa-comment-dots
                        .comment-count
                          = spot.comments.count
                      .spot-box__text__box--icon__like
                        .like
                          - if user_signed_in?
                            - if spot.likes.find_by(user_id:current_user.id)
                              .iine
                                %i.fa.fa-heart
                            - else
                              %i.far.fa-heart
                          - else
                            %i.far.fa-heart
                        .like-count
                          = spot.likes.count
      .main-box__new__title
        %span.main-box__new__title__tagï¼ƒ
        .main-box__new__title__text
          = link_to prefecture_path(1) do
            åŒ—æµ·é“
      .new-contents
        .new-contents__box
          - @hokkaidou.each do |spot|
            .spot-box
              = link_to spot_path(spot.id),data: {"turbolinks" => false} do
                = image_tag spot.images.first.src.url,size:"220x180",class: "spot-box__img"
                .spot-box__text
                  .spot-box__text--name
                    = spot.name
                  .spot-box__text__box
                    .spot-box__text__box--area
                      åŒ—æµ·é“
                    .spot-box__text__box--icon
                      .spot-box__text__box--icon__comment
                        .comment
                          %i.fa.fa-comment-dots
                        .comment-count
                          = spot.comments.count
                      .spot-box__text__box--icon__like
                        .like
                          - if user_signed_in?
                            - if spot.likes.find_by(user_id:current_user.id)
                              .iine
                                %i.fa.fa-heart
                            - else
                              %i.far.fa-heart
                          - else
                            %i.far.fa-heart
                        .like-count
                          = spot.likes.count
      .main-box__new__title
        %span.main-box__new__title__tagï¼ƒ
        .main-box__new__title__text
          = link_to prefecture_path(13) do
            æ±äº¬
      .new-contents
        .new-contents__box
          - @tokyo.each do |spot|
            .spot-box
              = link_to spot_path(spot.id),data: {"turbolinks" => false} do
                = image_tag spot.images.first.src.url,size:"220x180",class: "spot-box__img"
                .spot-box__text
                  .spot-box__text--name
                    = spot.name
                  .spot-box__text__box
                    .spot-box__text__box--area
                      æ±äº¬
                    .spot-box__text__box--icon
                      .spot-box__text__box--icon__comment
                        .comment
                          %i.fa.fa-comment-dots
                        .comment-count
                          = spot.comments.count
                      .spot-box__text__box--icon__like
                        .like
                          - if user_signed_in?
                            - if spot.likes.find_by(user_id:current_user.id)
                              .iine
                                %i.fa.fa-heart
                            - else
                              %i.far.fa-heart
                          - else
                            %i.far.fa-heart
                        .like-count
                          = spot.likes.count
      .main-box__new__title
        %span.main-box__new__title__tagï¼ƒ
        .main-box__new__title__text
          = link_to prefecture_path(27) do
            å¤§é˜ª
      .new-contents
        .new-contents__box
          - @oosaka.each do |spot|
            .spot-box
              = link_to spot_path(spot.id),data: {"turbolinks" => false} do
                = image_tag spot.images.first.src.url,size:"220x180",class: "spot-box__img"
                .spot-box__text
                  .spot-box__text--name
                    = spot.name
                  .spot-box__text__box
                    .spot-box__text__box--area
                      å¤§é˜ª
                    .spot-box__text__box--icon
                      .spot-box__text__box--icon__comment
                        .comment
                          %i.fa.fa-comment-dots
                        .comment-count
                          = spot.comments.count
                      .spot-box__text__box--icon__like
                        .like
                          - if user_signed_in?
                            - if spot.likes.find_by(user_id:current_user.id)
                              .iine
                                %i.fa.fa-heart
                            - else
                              %i.far.fa-heart
                          - else
                            %i.far.fa-heart
                        .like-count
                          = spot.likes.count
      .main-box__new__title
        %span.main-box__new__title__tagï¼ƒ
        .main-box__new__title__text
          = link_to prefecture_path(47) do
            æ²–ç¸„
      .new-contents
        .new-contents__box
          - @okinawa.each do |spot|
            .spot-box
              = link_to spot_path(spot.id),data: {"turbolinks" => false} do
                = image_tag spot.images.first.src.url,size:"220x180",class: "spot-box__img"
                .spot-box__text
                  .spot-box__text--name
                    = spot.name
                  .spot-box__text__box
                    .spot-box__text__box--area
                      æ²–ç¸„
                    .spot-box__text__box--icon
                      .spot-box__text__box--icon__comment
                        .comment
                          %i.fa.fa-comment-dots
                        .comment-count
                          = spot.comments.count
                      .spot-box__text__box--icon__like
                        .like
                          - if user_signed_in?
                            - if spot.likes.find_by(user_id:current_user.id)
                              .iine
                                %i.fa.fa-heart
                            - else
                              %i.far.fa-heart
                          - else
                            %i.far.fa-heart
                        .like-count
                          = spot.likes.count
  = render "more/footer"