.n-wrapper
  = render "more/header"
  .n-main
    = form_with model: @spot, local: true do |form|
      .form-contents
        .form-box
          .form-box__title
            新規スポット投稿
            .error
              - if @spot.errors.any?
                .item__errors
                  %h2= "#{@spot.errors.full_messages.count}件のエラーが発生しました。"
                  %ul
                    - @spot.errors.full_messages.each do |message|
                      %li= message
          .img-field
            .img-title
              写真
            %span.need
              必須
          .img-box
            #previews
              #image-box
                = form.fields_for :images do |image|
                  .js-file_group{"data-index" => "#{image.index}"}
                    = image.file_field :src, class: 'js-file'
                    .js-remove 削除
          .form-box__prefecture
            .form-box__prefecture__box
              .form-box__prefecture__box--title
                県名を入力
              %span.need
                必須
            .select-box
              = form.collection_select :prefecture_id, Area.all, :id, :name
          .form-box__name
            .form-box__name--box
              .name-title
                場所の名前
              %span.need
                必須
            .form-box__name--form
              = form.text_field :name, class: 'form', :placeholder => '例)東京タワー'
          .form-box__place
            .form-box__place--box
              .place-title
                詳しい場所
              %span.need
                必須
            .form-box__place--form
              = form.text_field :place, class: 'form', :placeholder => '例)港区'
          .form-box__text
            .form-box__text--box
              .text-title
                おすすめポイントなど
              %span.need
                必須
            .form-box__text--form
              = form.text_area :text, class: 'form-text', :placeholder => '例)夜景が綺麗', rows: "13"
          .form-box__station
            .form-box__station__box
              .form-box__station__box--title
                最寄り駅
              %span.no-need
                任意
            .form-box__station--form
              = form.text_field :station, class: 'form', :placeholder => '例)東京駅'
          = form.submit "投稿" , class: 'form-btn'
  = render "more/footer"