.wrapper
  = render "more/header"
  .signin
    .signin__main
      .signin__main__center
        .signin__main__center__title
          ログイン
        .signin__main__center__box
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-item
              %label.form-item__title
                メールアドレス
                = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-item__title__form"
            .form-item
              %label.form-item__title
                パスワード
                = f.password_field :password, autocomplete: "current-password", class: "form-item__title__form"
            .submit-btn
              = f.submit "ログイン"
        .sign-up
          = render "devise/shared/links"
  = render "more/footer"



