.wrapper
  .header
    .header__title
      .header__title--icon
        %i.fa.fa-plane
      .header__title--name
        Sightseeing
    .header__text
      観光スポット探しアプリ
  .signin
    .signin__main
      .signin__main__center
        .signin__main__center__title
          ログイン
        .signin__main__center__box
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field.email
              = f.email_field :email,placeholder: "メールアドレス", autofocus: true, autocomplete: "email"
            .field.password
              = f.password_field :password,placeholder: "パスワード", autocomplete: "current-password"
            .actions
              .submit
                = f.submit "ログイン"
              = render "devise/shared/links"
            




