.wrapper
  = render "more/header"
  .p-main
    .p-main__title
      .p-main__title--name
        = @name
      .p-main__title--name
        の投稿一覧
    .p-main__contents
      .p-main__contents--box
        - @spots.each do |spot|
          .p-spot-box
            .p-spot-box__img
              = image_tag spot.images.first.src.url,size:"220x180"
            .p-spot-box__text
              .p-spot-box__text--name
                = spot.name
      .p-main__contents--page
        = paginate(@spots)