.wrapper
  = render "more/header"
  .p-main
    .p-main__contents
      .p-main__contents__title
        .p-main__contents__title--name
          = @name
        .p-main__contents__title--name
          の投稿一覧
      .p-main__contents__box
        - @spots.each do |spot|
          .p-spot-box
            = link_to spot_path(spot.id) do
              = image_tag spot.images.first.src.url,size:"220x180",class: "p-spot-box__img"
              .p-spot-box__text
                .p-spot-box__text--name
                  = spot.name
                .p-spot-box__text--icon
                  .likes
                    - if user_signed_in?
                      - if spot.likes.find_by(user_id:current_user.id)
                        .iine
                          %i.fa.fa-heart
                      - else
                        %i.far.fa-heart
                    - else
                      %i.far.fa-heart
                  .likes-count
                    = spot.likes.count
      .p-main__contents--page
        = paginate(@spots)
  = render "more/footer"